
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
}


#acciones-tabla {
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 8px;
    justify-content: space-between;
}

.filtro label {
    font-weight: bold;
    margin-right: 5px;
}

.filtro input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 250px;
}


.boton-container {
    text-align: left;
    margin-top: 20px;
}

.boton-primario {
    background-color: #494949;
    color: white;
    border: none;
    padding: 5px 12px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
}

.boton-primario:hover {
    background-color: #444;
}


#tabla-contenedor {
    width: 100%;
    margin-top: 20px;
}

table {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid #ccc;
    padding: 12px;
    font-size: 14px;
}

thead th {
    background-color: #444;
    color: white;
    font-size: 16px;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}


button.editar {
    background-color: white;
    color: black;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

button.editar:hover {
    background-color: #ddd;
}

button.eliminar {
    background-color: rgb(128, 128, 128);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.eliminar:hover {
    background-color: #555;
}

.carrito {
    background-color: rgb(90, 90, 90);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.carrito:hover {
    background-color: #5a6268;
}

tr input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}


.guardar, .cancelar {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}


.guardar {
    background-color: white;
    color: black;
}

.guardar:hover {
    background-color: #ddd;
}


.cancelar {
    background-color: rgb(90, 90, 90);
    color: white;
    margin-left: 5px;
}

.cancelar:hover {
    background-color: #5a6268;
}

#formulario-producto {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
}

#formulario-producto h1 {
    font-size: 18px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

#form-agregar-producto {
    display: flex;
    flex-direction: column;
}

#form-agregar-producto label {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
}

#form-agregar-producto input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
}

.boton-primario, .boton-secundario {
    padding: 12px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}


.mensaje-container {
    display: none;
    position: fixed;
    top: 20px;
    left: 90%;
    transform: translateX(-50%);
    background-color: #5a5c5a; 
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
#form-agregar-producto select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    background-color: white;
    cursor: pointer;
}


#form-agregar-producto select:hover {
    border-color: #bbb;
}

#form-agregar-producto select:focus {
    outline: none;
    border-color: #494949;
    box-shadow: 0 0 5px rgba(73, 73, 73, 0.5);
}
select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    background-color: white;
    cursor: pointer;
}

tr select {
    width: 100%;
    box-sizing: border-box;
}

select:hover {
    border-color: #888;
}

select:focus {
    border-color: #444;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
